.updown {
  animation: move-y .8s infinite alternate ease-in-out;
  display: inline-block;
}
@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}

/* 滑らかに変形して出現 */
.smooth{
	animation-name:smoothAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
  transform-origin:left;
	opacity:0;
}

@keyframes smoothAnime{
  from {
  transform:translate3d(0, 100%, 0) skewY(12deg);
  opacity:0;
  }

  to {
  transform:translate3d(0, 0, 0) skewY(0);
  opacity:1;
  }
}

.zoomIn{
	animation-name:zoomInAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
	transform: scale(0.6);
  }

  to {
      transform: scale(1);
  }
}

.fuwafuwa {
  animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
  display: inline-block;
  transition: 1.5s ease-in-out;
}
 
@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-5deg);
  }
  50% {
    transform:translate(0, -5px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(5deg);
  }
}
 
.wait {
  animation: wait_1118545765 8s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes wait_1118545765 {
  0% {
    transform: perspective(100px)rotate(0deg)
  }
  9.375% {
    transform: perspective(100px)rotateX(180deg)rotateY(0);
  }
  18.75% {
    transform: perspective(100px)rotateX(180deg)rotateY(180deg);
  }
  28.125% {
    transform: perspective(100px)rotateX(0)rotateY(180deg);
  }
  37.5% {
    transform: perspective(100px)rotateX(0)rotateY(0);
  }
  100% {
    transform: perspective(100px)rotateX(0)rotateY(0);
  }
}

.blinking{
  animation:blink 5s ease-in-out infinite alternate;
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}

.blinking2{
  animation:5s blink 5s ease-in-out infinite alternate;
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}